/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.bg-blue {
  background-color: hsl(252, 66%, 62%);
}

.bg-orange {
  background-color: hsl(28, 89%, 67%);
}

.bg-pink {
  background-color: hsl(0, 78%, 79%);
}

.bg-light-red {
  background-color: hsl(7, 77%, 66%);
}

.bg-cyan {
  background-color: hsl(172, 46%, 57%);
}

.bg-purple {
  background-color: hsl(314, 45%, 23%);
}

.bg-black {
  background-color: hsl(0, 0%, 1%);
}

.bg-medium-brown {
  background-color: hsl(30, 5%, 45%);
}

.bg-light-cream {
  background-color: hsl(28, 100%, 97%);
}

.bg-white {
  background-color: hsl(0, 100%, 100%);
}

.flow > * + * {
  --flow-spacing: 1.5rem;
  margin-top: var(--flow-spacing);
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-row {
  justify-content: space-between;
  align-items: center;
}

.container {
  --max-width: 69.375rem;
  --padding: clamp(1rem, 4vw, 2.5rem);
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.body-text {
  max-width: 33.75rem;
}

.heading-1,
.heading-2,
.heading-3 {
  font-weight: bold;
  color: var(--black);
  line-height: 1.2;
}

.heading-1 {
  font-size: clamp(2.25rem, 3.5vw + 1rem, 3.5rem);
}

.heading-2 {
  font-size: clamp(1.625rem, 2vw + 1rem, 2.5rem);
}

.heading-3 {
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
}

.text-center {
  text-align: center !important;
}

.color-light {
  color: var(--light-cream);
}

.br-400 {
  border-radius: var(--br-400);
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: transparent;
  line-height: 1;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 1.125em 2em;
  border-radius: 100vh;
  transition: background 150ms ease;
}
@media only screen and (min-width: 45em) {
  .button {
    font-size: 1rem;
    padding: 1.25em 2.875em;
  }
}
.button[data-type=primary] {
  background: var(--black);
  color: var(--light-cream);
}
.button[data-type=primary]:hover {
  background: var(--blue);
}
.button[data-type=secondary] {
  background: var(--light-red);
  color: var(--light-cream);
}
.button[data-type=secondary]:hover {
  background: var(--orange);
}
.button--control {
  display: inline-grid;
  place-items: center;
  width: 4rem;
  aspect-ratio: 1;
  padding: 0;
}

.tile {
  display: grid;
  padding: 1.5rem;
  line-height: 1.2;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 200ms;
}
@media (hover: hover) {
  .tile:hover {
    transform: scale(1.03);
  }
  .tile:hover .tile__text {
    animation: jump 250ms ease-in-out;
    animation-fill-mode: forwards;
  }
}
.tile[data-size=wide] {
  grid-column: span 2;
}
.tile[data-size=large] {
  grid-row: span 2;
  grid-column: span 2;
}
.tile .tile__img {
  place-self: start end;
}
.tile .tile__text {
  place-self: end start;
  animation: fall 200ms;
}
@keyframes jump {
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(-0.75rem);
  }
}
@keyframes fall {
  0% {
    transform: translateY(-0.75rem);
  }
  100% {
    transform: translateY(0);
  }
}
@media only screen and (min-width: 64em) {
  .tile:nth-of-type(5) {
    grid-column: 5/7;
    grid-row: 1;
  }
}

:root {
  --blue: hsl(252, 66%, 62%);
  --orange: hsl(28, 89%, 67%);
  --pink: hsl(0, 78%, 79%);
  --light-red: hsl(7, 77%, 66%);
  --cyan: hsl(172, 46%, 57%);
  --purple: hsl(314, 45%, 23%);
  --black: hsl(0, 0%, 1%);
  --medium-brown: hsl(30, 5%, 45%);
  --light-cream: hsl(28, 100%, 97%);
  --white: hsl(0, 100%, 100%);
  --br-400: 0.625rem;
}

*:focus-visible {
  outline: 3px dashed var(--blue);
  outline-offset: 2px;
}

body {
  background-color: var(--light-cream);
  color: var(--medium-brown);
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.6;
}
@media only screen and (min-width: 45em) {
  body {
    font-size: 1.125rem;
  }
}

.preload * {
  animation-duration: 0s !important;
}

.section {
  display: grid;
  gap: 1.5rem;
  justify-items: center;
}

.header {
  margin-block: 1rem;
}
@media only screen and (min-width: 45em) {
  .header {
    margin-block: 2.125rem;
  }
}

.top-section {
  margin-block: 2rem;
}
@media only screen and (min-width: 45em) {
  .top-section {
    margin-block: 4rem;
  }
}
.top-section * {
  --flow-spacing: 1rem;
}
@media only screen and (min-width: 45em) {
  .top-section * {
    --flow-spacing: 1.5rem;
  }
}
.top-section .body-text {
  max-width: min(80%, 45.625rem);
  margin-inline: auto;
}
.top-section > *:first-child {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 45em) {
  .top-section > *:first-child {
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 64em) {
  .top-section > *:first-child {
    margin-bottom: 5rem;
  }
}

.tile-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 11.25rem 9.875rem 11.25rem 9.875rem 11.25rem 11.25rem;
  grid-auto-flow: row dense;
}
@media only screen and (min-width: 45em) {
  .tile-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 64em) {
  .tile-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.bio-section {
  text-align: center;
  gap: 2.5rem 0;
  align-items: center;
  margin-block: 6.25rem;
}
@media only screen and (min-width: 45em) {
  .bio-section {
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    margin-block: 7.5rem;
    text-align: left;
  }
}
@media only screen and (min-width: 64em) {
  .bio-section {
    margin-block: 8.5rem 5.5rem;
  }
  .bio-section * {
    --flow-spacing: 1.875em;
  }
}
@media only screen and (min-width: 45em) {
  .bio-section > *:first-child {
    justify-self: end;
    transform: translateX(-4.3125rem);
  }
}
@media only screen and (min-width: 64em) {
  .bio-section > *:first-child {
    transform: translateX(-7.8125rem);
  }
}
.bio-section__img {
  max-width: min(22.75rem, 100% - 2rem);
}
@media only screen and (min-width: 64em) {
  .bio-section__img {
    max-width: 27.8125rem;
  }
}
.bio-section .body-text {
  margin-inline: auto;
}
@media only screen and (min-width: 45em) {
  .bio-section .body-text {
    margin-left: 0;
  }
}

.carousel-section {
  margin-block: 6.25rem;
}
.carousel-section * {
  --flow-spacing: 2rem;
}
@media only screen and (min-width: 45em) {
  .carousel-section * {
    --flow-spacing: 3.5rem;
  }
}

.swiper-slide {
  max-width: 70%;
}
@media only screen and (min-width: 64em) {
  .swiper-slide {
    max-width: 34rem;
  }
}
.swiper-slide img {
  width: 100%;
  border-radius: var(--br-400);
}

.button-controls {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.booking-section {
  margin-block: 2.5rem;
  padding: 3rem 1.5rem;
  text-align: center;
}
@media only screen and (min-width: 45em) {
  .booking-section {
    padding: 3.5rem 4.6875rem 4rem 4.6875rem;
    margin-block: 3.5rem;
  }
}
@media only screen and (min-width: 64em) {
  .booking-section {
    text-align: left;
    grid-auto-flow: column;
    align-items: center;
    padding: 5rem 4.0625rem;
  }
  .booking-section > *:first-child {
    justify-self: start;
  }
}

.footer {
  margin-block: 2rem;
}
@media only screen and (min-width: 45em) {
  .footer {
    margin-block: 3.5rem;
  }
}
@media only screen and (min-width: 64em) {
  .footer {
    margin-bottom: 4rem;
  }
}

/*# sourceMappingURL=styles.css.map */
