// Buttons

.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: transparent;
  line-height: 1;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 1.125em 2em;
  border-radius: 100vh;
  transition: background 150ms ease;

  @media only screen and (min-width: 45em) {
    font-size: 1rem;
    padding: 1.25em 2.875em;
  }

  &[data-type="primary"] {
    background: var(--black);
    color: var(--light-cream);

    &:hover {
      background: var(--blue);
    }
  }

  &[data-type="secondary"] {
    background: var(--light-red);
    color: var(--light-cream);

    &:hover {
      background: var(--orange);
    }
  }

  &--control {
    display: inline-grid;
    place-items: center;
    width: 4rem;
    aspect-ratio: 1;
    padding: 0;
  }
}

// Tiles

.tile {
  display: grid;
  padding: 1.5rem;
  line-height: 1.2;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 200ms;

  // Desktop only hover effects
  @media (hover: hover) {
    &:hover {
      transform: scale(1.03);

      .tile__text {
        animation: jump 250ms ease-in-out;
        animation-fill-mode: forwards;
      }
    }
  }

  &[data-size="wide"] {
    grid-column: span 2;
  }

  &[data-size="large"] {
    grid-row: span 2;
    grid-column: span 2;
  }

  .tile__img {
    place-self: start end;
  }

  .tile__text {
    place-self: end start;
    animation: fall 200ms;
  }

  @keyframes jump {
    50% {
      transform: translateY(-1rem);
    }
    100% {
      transform: translateY(-0.75rem);
    }
  }

  @keyframes fall {
    0% {
      transform: translateY(-0.75rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @media only screen and (min-width: 64em) {
    // Correct order of tiles
    &:nth-of-type(5) {
      grid-column: 5 / 7;
      grid-row: 1;
    }
  }
}
