@use "variables" as *;

@each $color, $hsl in $colors {
  .bg-#{$color} {
    background-color: #{$hsl};
  }
}

.flow > * + * {
  --flow-spacing: 1.5rem;
  margin-top: var(--flow-spacing);
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-row {
  justify-content: space-between;
  align-items: center;
}

.container {
  --max-width: 69.375rem;
  --padding: clamp(1rem, 4vw, 2.5rem);

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.body-text {
  max-width: 33.75rem;
}

.heading-1,
.heading-2,
.heading-3 {
  font-weight: bold;
  color: var(--black);
  line-height: 1.2;
}

.heading-1 {
  font-size: clamp(2.25rem, 3.5vw + 1rem, 3.5rem);
}
.heading-2 {
  font-size: clamp(1.625rem, 2vw + 1rem, 2.5rem);
}
.heading-3 {
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
}

.text-center {
  text-align: center !important;
}

.color-light {
  color: var(--light-cream);
}

.br-400 {
  border-radius: var(--br-400);
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
